h2  Resultados de </br> aprendizaje
.brand-line-primary

.card.resultado-item
    .card-body
        p.bg-color-dark
          h5 230101261-04
          p.mb-0 Humanizar la atención en salud centrada en la persona, teniendo en cuenta, habilidades, principios de vida y del trabajo.
           




