.container

    .header-ecored
        h1 Glosario

    .jumbotron.bg-white

        p
            strong.mr-2 Atención centrada en las personas:</br>
            | Es un enfoque de atención que adopta conscientemente a individuos, cuidadores, familias y comunidades, desde la mirada de participantes y beneficiarios del sistema de salud, que responden a sus necesidades y preferencias de manera humana y holística. La atención centrada en las personas también requiere que las personas tengan la educación y el apoyo que necesitan para tomar decisiones y participar en su propio cuidado. Se organiza en torno a las necesidades de salud y expectativas de las personas en lugar de enfermedades, enfoques y prácticas de atención que ven a la persona como un todo con muchos niveles de necesidades y objetivos, con estas necesidades provenientes de sus propios determinantes sociales personales de la salud. (WHO. 2015, WHO global strategy on integrated people-centred health services 2016-2026, Executive Summary, Placing people and communities at the centre of health services
        hr
        p
            strong.mr-2 Atención continua:</br>
            | Se brinda a las personas a lo largo del tiempo a lo largo de su vida. (WHO. 2015 Global Strategy on People Centered and Integrated Health Services 2016-2026, Executive Summary, Placing people and communities at the centre of health services)
        hr
        p 
            strong.mr-2 Atención de alta calidad:</br>
            | Atención segura, efectiva, centrada en las personas, oportuna, eficiente, equitativa e integrada. (WHO. 2015 Global Strategy on People Centered and Integrated Health Services 2016-2026, Executive Summary, Placing people and communities at the centre of health services)
        hr
        p 
            strong.mr-2 Compromiso:</br>
            | Involucrar a las personas y las comunidades en el diseño, la planificación y la prestación de servicios de salud, por ejemplo, permítanos tomar decisiones sobre la atención y las opciones de tratamiento o participar en la toma de decisiones estratégicas sobre cómo se gastan los recursos de salud. (WHO. 2015 Global Strategy on People Centered and Integrated Health Services 2016-2026, Executive Summary, Placing people and communities at the centre of health services)
        hr
        p 
            strong.mr-2 Empoderamiento:</br>
            | El proceso de apoyar a las personas y las comunidades para que tomen el control de sus propias necesidades y resultados de salud, por ejemplo, en la adopción de comportamientos más saludables o la capacidad de autocontrol de enfermedades. (WHO. 2015 Global Strategy on People Centered and Integrated Health Services 2016-2026, Executive Summary, Placing people and communities at the centre of health services)
        hr
        p 
            strong.mr-2 OES:</br>
            | Organización Excelencia en Salud
        hr
        p 
            strong.mr-2 OMS:</br>
            | Organización Mundial de la Salud              