.container

    .header-ecored
        h1 Material complementario

    .jumbotron.bg-white

        table.table.table-bordered.table-striped
            thead.thead-dark
                tr
                    th Nombre del documento o material
                    th Tipo de material 
                    th Enlace del Recurso

            tbody
                tr                    

                    td
                        strong WHO, 2015 Global Strategy on People Centered and Integrated Health Services. 
                    td Artículo 
                    td 
                        a(href="media/anexos/Anexo_5_WHO_HIS_SDS_2015_20.pdf", target="_blank") <span class="fa fa-download" aria-hidden="true"></span> Ver
                



                
                        
            