include ../mixins/functions

.container

    .header-ecored
        h1 Referencias bibliográficas

    .jumbotron.bg-white.referencias
        +referenciaItem("Arias Gallegos, W. (2017). Carl R. Rogers y la terapia centrada en el cliente. Avances En Psicología, 23(2), 141-148.", "https://doi.org/10.33539/avpsicol.2015.v23n2.158")
        +referenciaItem("Borrell-Carrió, Francesc. (2002). El modelo biopsicosocial en evolución. Medicina Clínica. 119. 175–179. Doi: 10.1016/S0025-7753(02)73355-1.", "")
        +referenciaItem("Frampton, S. (2017). Presentación de datos en Atención Centrada en la Persona, Ponente Susan Frampton, PhD, MS, Presidenta Planetree Internacional, 26o Foro Internacional OES – 1er Encuentro Planetree Atención Centrada en la Persona, 2017", "")      
        +referenciaItem("Pereira, M. Graça y Smith, Thomas Edward (2006). Evolución del modelo biopsicosocial en la práctica de la terapia familiar. Revista Internacional de Psicología Clínica y de la Salud, 6 (2), 455-467. [Fecha de consulta 24 de junio de 2020]. ISSN: 1697-2600. Disponible en:", "http://www.aepc.es/ijchp/articulos_pdf/ijchp-187.pdf")
        +referenciaItem("Rodrigues Cícero, D. C. (2013). Humanização Hospitalar: dos Primórdios à Atualidade, um Breve Relato. Psicologado. ", "https://psicologado.com.br/atuacao/psicologia-hospitalar/humanizacao-hospitalar-dos-primordios-a-atualidade-um-breve-relato") 
        +referenciaItem("WHO, 2015 Global Strategy on People Centered and Integrated Health Services. Interim report. Recuperado en el siguiente link:", "https://apps.who.int/iris/bitstream/handle/10665/155002/WHO_HIS_SDS_2015.6_eng.pdf")
        +referenciaItem("WHO. 2015 Global Strategy on People Centered and Integrated Health Services 2016-2026, Executive Summary, Placing people and communities at the centre of health services. Recuperado en el siguiente link:", "https://apps.who.int/iris/bitstream/handle/10665/180984/WHO_HIS_SDS_2015.20_eng.pdf?sequence=1")
        
        
       
        
        


        .row.justify-content-between.align-items-center

            .col-12.col-md-5.my-4
                .jumbotron.p-4
                    .d-flex.justify-content-center.align-items-center
                        p.text-center.pl-4
                            i.fa.fa-picture-o.fa-2x.text-center
                        p.text-center.flex-grow-1 Fotografías y vectores tomados de <a href="https://www.shutterstock.com/" target="_blank">https://www.shutterstock.com/</a> y <a href="https://www.freepik.es/" target="_blank">https://www.freepik.es/</a>

            .col-12.col-md-5.my-4
                .jumbotron.p-4
                    .d-flex.justify-content-center.align-items-center
                        p.text-center.pl-4
                            i.fa.fa-creative-commons.fa-2x.text-center
                        p.text-center.flex-grow-1 Licencia Creative Commons <br> <strong>CC BY-NC-SA</strong><br> <a href="https://creativecommons.org/licenses/by-nc-sa/3.0/es/" target="_blank">Ver licencia.</a>            