.container#page-introduccion

    .header-ecored
        h1 1. Gestión centrada en la persona

    .jumbotron.bg-white 
      .row
        .col-12
          .header-ecored.mt-3#tema1_1
            h2 1.1 Antecedentes del modelo de atención centrada en la persona

        .col-12.mb-3
          p En el abordaje del presente apartado se tendrá en cuenta dos autores que anteriormente se han revisado, con el fin de recordar los aportes que en la actualidad han influido significativamente en el modelo de atención centrada en la persona y a su vez la aplicación, siendo la expresión de la humanización en el sector salud y en la atención en salud.
          p Han transcurrido más de 60 años desde que Carl Rogers (1902 – 1987) propone la Terapia Centrada en la Persona (1950), sin embargo, continúa siendo vigente las investigaciones y estudios realizados, en el cual, pone a consideración la personalidad en su totalidad y la influencia de aspectos somáticos y psicológicos en la salud. Inicialmente consideró la terapia centrada en el cliente, argumentando que una persona que busca ayuda en cualquier profesional para requerir de sus servicios, lo pone en situación de cliente, luego cambia el término hacia persona para abordarlo de manera holística e integral.       
      

      .row.justify-content-center.align-items-center.my-3 
        .col-12.col-lg-5.mb-4
          h3 La persona como centro
          p La terapia centrada en la persona considera que los seres humanos son incondicionalmente válidos, independientemente de su comportamiento, condición o sentimientos. 
          p En un contexto en que la persona se considere valorada, abandona las actitudes defensivas y gradualmente se vuelve capaz de escucharse a sí mismo y se abre a sentimientos de coraje, ternura y fervor. Para el autor "la persona es lo que es, en profundidad, es una experiencia enriquecedora".
        
        .col-12.col-lg-7.d-flex.justify-content-center
          img(src="assets/images/pages/tema_1/img_01.svg", alt="").img-fluid

      .row.mt-4.mb-3
        .col-12
          h3 Procesos esenciales

      .row
        .col-12.mb-3
          .list
            .list__item
              .list__item__icon
                img(src="assets/images/icons/icon_duoble_chevron.svg", alt="")
            .list__txt
              p.mb-0 #[strong Estimación positiva incondicional:] refiere a comprender y brindar apoyo y estimación sin juzgar.
        .col-12.mb-3
          .list
            .list__item
              .list__item__icon
                img(src="assets/images/icons/icon_duoble_chevron.svg", alt="")
            .list__txt
              p.mb-0 #[strong Empatía:] es fundamental ponerse en el lugar del paciente para poder entenderlo. 
        .col-12.mb-3
          .list
            .list__item
              .list__item__icon
                img(src="assets/images/icons/icon_duoble_chevron.svg", alt="")
            .list__txt
              p #[strong Congruencia:] para Rogers, una persona que encuentra la congruencia entre su “yo ideal” y su “yo real” es menos propensa a vivenciar desequilibrios sicológicos. Por ello el terapeuta debería propiciar experiencias que permitan que el paciente estructure mejores visiones de sí mismo, y su salud. 
              p.mb-0 Considera que un terapeuta necesita ser auténtico y entregarse por completo a la relación profesional del paciente, para lograr mayor efectividad. 

      .hr-divider.my-5         

      .row.mt-4.mb-3
        .col-12
          h3 Rol activo del paciente

        .col-12
          p Este contexto le permite al paciente explorar su propia forma de ser y su complejidad, quién dentro de un contexto de atención en salud, conoce mejor sus problemas, lo que le lastima, y lo que le ayudaría a solucionar. 

      .row.justify-content-center.align-items-center.my-5 
        .col-12.col-lg-10.d-flex.justify-content-center
          img(src="assets/images/pages/tema_1/img_02.svg", alt="").img-fluid

      .row        
        .col-12
          p Los principales cambios observados por Rogers en los pacientes, durante o después del final del proceso de terapia, son: 

      .row
        .col-12.mb-3
          .list
            .list__item
              .list__item__bulletNumber
                span 1
            .list__txt
              p.mb-0 Se obtiene una nueva perspectiva sobre la libertad y el determinismo.
        .col-12.mb-3
          .list
            .list__item
              .list__item__bulletNumber
                span 2
            .list__txt
              p.mb-0 Usa la creatividad como elemento de la vida plena. 
        .col-12.mb-3
          .list
            .list__item
              .list__item__bulletNumber
                span 3
            .list__txt
              p.mb-0 Pueden vivir en cualquier momento y cultura. 
        .col-12.mb-3
          .list
            .list__item
              .list__item__bulletNumber
                span 4
            .list__txt
              p.mb-0 Comienzan a vivir de manera constructiva, es decir, siempre continúan progresando para ser ellos mismos.
        .col-12.mb-3
          .list
            .list__item
              .list__item__bulletNumber
                span 5
            .list__txt
              p.mb-0 Comportarse lo más completamente posible para satisfacer sus necesidades.

      .hr-divider.my-4

      .row
        .col-12
          h3 Modelo biopsicosocial

      .row
        .col-12
          p Por su parte, Georges Engel (1977), propone el modelo biopsicosocial, en el cual analiza la esfera psicológica como parte integral del ser humano, en el contexto de la enfermedad, así mismo, el conocimiento del contexto emocional y social en el que vive, esto quiere decir que, los factores psicológicos influyen en los procesos biológicos que a su vez pueden influir en el sistema social del paciente. El modelo biopsicosocial enfatiza en la visión integral de los factores relacionados con la salud, la enfermedad y la atención, cuyo propósito es mostrar la interrelación que presentan las creencias familiares con la forma en que las familias se adaptan a las enfermedades.

      .row.justify-content-center.align-items-center.my-5 
        .col-12.col-lg-10.d-flex.justify-content-center
          img(src="assets/images/pages/tema_1/info_01.svg", alt="").img-fluid      

      .row.mt-4.mb-3
        .col-12
          h3 Fundamentos
      .row
        .col-12.mb-3
          .list
            .list__item
              .list__item__bulletNumber
                span 1
            .list__txt
              p.mb-0 Una alteración bioquímica no siempre se traduce en enfermedad. Ésta aparece por la interrelación de diversas causas, no sólo moleculares, sino también psicológicas y sociales. A la inversa: de alteraciones psicosociales pueden derivarse enfermedades o «dolencias» que constituyen problemas de salud, incluso a veces con correlación bioquímica. 
        .col-12.mb-3
          .list
            .list__item
              .list__item__bulletNumber
                span 2
            .list__txt
              p.mb-0 La simple anomalía biológica no arroja ninguna luz sobre el significado de los síntomas para el paciente, ni asegura tampoco las actitudes y habilidades del clínico para recoger la información y procesarla de manera adecuada.
        .col-12.mb-3
          .list
            .list__item
              .list__item__bulletNumber
                span 3
            .list__txt
              p.mb-0 Las variables de índole psicosocial suelen ser importantes a la hora de determinar la susceptibilidad, gravedad y curso del padecimiento más biológico que pudiera considerarse.
        .col-12.mb-3
          .list
            .list__item
              .list__item__bulletNumber
                span 4
            .list__txt
              p.mb-0 La aceptación del rol de enfermo no viene determinado de manera mecánica por la presencia de una anomalía biológica. 
        .col-12.mb-3
          .list
            .list__item
              .list__item__bulletNumber
                span 5
            .list__txt
              p.mb-0 El tratamiento biológico puede tener diversas tasas de éxito influido directamente por variables psicosociales, tal como deja patente el llamado efecto placebo, entre otros. 
        .col-12.mb-3
          .list
            .list__item
              .list__item__bulletNumber
                span 6
            .list__txt
              p.mb-0 Además, la relación del profesional de la salud con el paciente también influye en el resultado terapéutico, aunque sólo sea por la influencia que pueda tener sobre el cumplimiento del tratamiento. (Borrell-Carrió, 2002).         

      .hr-divider.mt-5.mb-4

      .row.mt-4.mb-3
        .col-12
          h3 Aspectos favorables de la perspectiva 

      .row
        .col-12.mb-3
          .list
            .list__item
              .list__item__icon
                img(src="assets/images/icons/icon_duoble_chevron.svg", alt="")
            .list__txt
              p.mb-0 Estimula a un conocimiento más integral del paciente y su entorno. 
        .col-12.mb-3
          .list
            .list__item
              .list__item__icon
                img(src="assets/images/icons/icon_duoble_chevron.svg", alt="")
            .list__txt
              p.mb-0 Integra los hallazgos en las tres esferas: biológica, psicológica y social.
        .col-12.mb-3
          .list
            .list__item
              .list__item__icon
                img(src="assets/images/icons/icon_duoble_chevron.svg", alt="")
            .list__txt
              p.mb-0 Reconoce el papel central que desempeña la relación terapéutica en el curso de los acontecimientos.        
        .col-12.mb-3
          .list
            .list__item
              .list__item__icon
                img(src="assets/images/icons/icon_duoble_chevron.svg", alt="")
            .list__txt
              p.mb-0 Optimiza el trabajo en equipo.
        .col-12.mb-3
          .list
            .list__item
              .list__item__icon
                img(src="assets/images/icons/icon_duoble_chevron.svg", alt="")
            .list__txt
              p.mb-0 Incorpora al profesional de salud como una pieza más del sistema que también debe ser cuidada.

      .hr-divider.mt-5.mb-4

      .row.mt-4.mb-3
        .col-12
          h3 Características 
      .row
        .col-12
          p Este modelo comienza a fundamentarse con las teorías de terapias familiares, y luego son orientadas a entender los aspectos biopsicosociales que presenta el individuo cuando la atención médica está centrada en la familia, creando la terapia médica familiar. Por ello se caracteriza principalmente por:

      .row
        .col-12.mb-3
          .list
            .list__item
              .list__item__bulletNumber
                span 1
            .list__txt
              p.mb-0 La relación entre el cuerpo y la mente del individuo.
        .col-12.mb-3
          .list
            .list__item
              .list__item__bulletNumber
                span 2
            .list__txt
              p.mb-0 La relación entre la dinámica familiar y los hábitos saludables. 
        .col-12.mb-3
          .list
            .list__item
              .list__item__bulletNumber
                span 3
            .list__txt
              p.mb-0 La relación de las condiciones saludables como persona y familia, así mismo, la relación personal de la salud-paciente y con el contexto social. 
        .col-12.mb-3
          .list
            .list__item
              .list__item__bulletNumber
                span 4
            .list__txt
              p.mb-0 Orienta la atención centrada en la familia haciendo énfasis en la familia y la comunicación con ella y el asesoramiento que hace partícipe a las familias de manera colaborativa.  
        .col-12.mb-3
          .list
            .list__item
              .list__item__bulletNumber
                span 5
            .list__txt
              p.mb-0 Apoya de acuerdo a las necesidades emocionales y de salud en el contexto familiar.
        .col-12.mb-3
          .list
            .list__item
              .list__item__bulletNumber
                span 6
            .list__txt
              p.mb-0 Contempla la familia como un sistema y trabajan colaborativamente frente a los hábitos saludables, como estrategia de la promoción de la salud.

      .row.my-5
        .col
          p #[strong Nota:] Adaptación El modelo biopsicosocial en evolución Borrell-Carrió, Francesc. (2002). Medicina Clínica. y Evolución del modelo biopsicosocial en la práctica de la terapia familiar de Pereira, M. Graça y Smith, Thomas Edward (2006).  Revista Internacional de Psicología Clínica y de la Salud. 
          p.mt-4 Para profundizar en la reflexión de las relaciones de los anteriores modelos, lo invitamos a leer el siguiente documento: el modelo biopsicosocial en evolución.

      .row.justify-content-center.align-items-center.my-5 
        .col-12.col-lg-7.mb-4
          .media_link
            a(href="media/anexos/Anexo_1_El_modelo_biosicosocial.pdf", target="_blank")
              .media_link__icon
                img(src="assets/images/icons/pdf.svg", alt="")
              .media_link__txt
                p #[strong El modelo biopsicosocial en evolución] 

    .jumbotron.bg-white 
      .row
        .col-12
          .header-ecored.mt-3#tema1_2
            h2 1.2 Modelo de atención centrada en la persona

      .row
        .col-12
          p La perspectiva mostrada desde el modelo biopsicosocial o la terapia centrada en la persona, establece puntos de discusión que muestran la necesidad de incorporar al paciente como ser humano, y a sus cercanos, familiares o agentes de cuidado, como seres activos, partícipes y agentes influyentes en el proceso de salud. 
      .row.my-3
        .col-12
          .quote
            .quote__bar
              .quote__bar__icon
                img(src="assets/images/icons/quote_01.svg", alt="")
              .quote__bar__hr
            .quote__text
              p.mb-0 Dar la palabra al paciente, dejarle participar en las decisiones, averiguar las expectativas que tiene, mostrar el profesional como ser humano, son puntos capitales del modelo.  (Borrell-Carrió, 2002)
            .quote__bar
              .quote__bar__hr
              .quote__bar__icon
                img(src="assets/images/icons/quote_02.svg", alt="")

      .row.mt-5
        .col-12
          p.text-center A continuación observa el siguiente video que define un modelo centrado en la persona.

      .row.justify-content-center.align-items-center.mt-3.mb-5 
        .col-12.col-lg-7.mb-4
          .media_link
            a(href="https://www.youtube.com/watch?v=6Dk3CV-Wt38 ", target="_blank")
              .media_link__icon
                img(src="assets/images/icons/icon_www.svg", alt="")
              .media_link__txt
                p #[strong Person-centred care made simple] 

      .row
        .col-12
          p  El modelo centrado en la persona es la gestión establecida para la humanización en salud. Existe múltiples interpretaciones, pero una principal es entender que la humanización recoge lo más genuino y natural del ser humano, cada persona con sus capacidades y el fortalecimiento de las habilidades, que como seres humanos y como talento humano en salud contamos:  tales como la comunicación asertiva y efectiva, la empatía, el relacionamiento interpersonal, el trabajo de equipo, el liderazgo, entre otros.  Centrarnos en la persona es favorecer diariamente nuestra misión humana, el espíritu de servicio a las personas, los valores personales, y reorganizar o construir modelos de atención que centre los esfuerzos a las necesidades de las personas y a su red de apoyo.
          p A continuación, encontraremos múltiples formas de abordar la gestión de la humanización, desde diferentes organizaciones que a nivel nacional e internacional han apuntado a desarrollar estrategias apropiadas de atención en el campo de la salud. 

      .hr-divider.my-5

      .row
        .col-12
          .header-ecored.mt-3#tema1_2_1
            h2 1.2.1 Modelo OMS
      
      .row.my-3
        .col-12
          p La Organización Mundial de la Salud (OMS), plantea el siguiente modelo de atención centrada en la persona, teniendo en cuenta las necesidades integrales de las personas y las comunidades como el centro del sistema de salud, no solamente desde la enfermedad. Además, propone capacitar a las personas para que tengan un papel más activo en su propia salud.

      .row.justify-content-center.align-items-center.my-5 
        .col-12.col-lg-10.d-flex.justify-content-center
          img(src="assets/images/pages/tema_1/info_02.svg", alt="").img-fluid     

      .row.my-3
        .col-12
          p Conceptual framework for people-centred and integrated health services. WHO global strategy on people centered and integrated health services. Interim report. WHO, 2015. Pág. 13. 
          p.mt-5 A continuación se puede observar una explicación más detallada del modelo centrado en la persona propuesto por la OMS.

      .row.justify-content-center.align-items-center.mt-3
        .col-12.col-lg-7.mb-4
          .media_link
            a(href="https://www.youtube.com/watch?v=pj-AvTOdk2Q", target="_blank")
              .media_link__icon
                img(src="assets/images/icons/icon_www.svg", alt="")
              .media_link__txt
                p #[strong WHO: ¿What is people-centred care?] 

      .row.mb-3
        .col-12
          p.text-center Lo invitamos a leer el informe de la OMS para complementar la información de este apartado.

      .row.justify-content-center.align-items-center.mt-3.mb-5 
        .col-12.col-lg-7.mb-4
          .media_link
            a(href="media/anexos/Anexo_5_WHO_HIS_SDS_2015_20.pdf", target="_blank")
              .media_link__icon
                img(src="assets/images/icons/pdf.svg", alt="")
              .media_link__txt
                p #[strong WHO_HIS_SDS_2015.20_eng Resumen Ejecutivo]

      .row
        .col-12
          p Así mismo, la OMS propone cinco objetivos estratégicos que son interdependientes para que la administración, aseguramiento, financiación, gestión, suministro, prestación, servicios y atención en salud se pueda centrar e integrar en las personas:
      .header-arrow.mt-5.mb-4
        h3.text-center OBJETIVOS DEL MODELO

      .row.justify-content-center.align-items-center.my-5 
        .col-10.col-md-8.mb-4
          .card-media.bg-brand-color-light
            .card-media__body                 
              figure.card__figure
                img(src="assets/images/pages/tema_1/icon_01.svg").img-fluid
              p #[strong Empoderar y comprometer a las personas ]
              p Hace referencia a involucrar, capacitar  y proporcionar la oportunidades o recursos que las personas necesitan para articularse como usuarios participativos de los servicios de salud. También se trata de llegar a los grupos de población vulnerables para garantizar el acceso universal a los servicios. Su objetivo es empoderar a las personas para que tomen decisiones efectivas sobre su propia salud y permitir a las comunidades participar activamente en la coproducción de entornos saludables, proporcionar servicios de atención en asociación con el sector salud y otros sectores, y contribuir en política pública.
        .col-10.col-md-8.mb-4
          .card-media.bg-brand-color-light
            .card-media__body                 
              figure.card__figure
                img(src="assets/images/pages/tema_1/icon_02.svg").img-fluid
              p #[strong Fortalecimiento de la gobernanza y la rendición de cuentas]
              p Este proceso implica mejorar el diálogo sobre políticas, así como la formulación y evaluación de políticas junto con ciudadanos, comunidades y otras partes interesadas. Se trata de promover la transparencia en la toma de decisiones y generar sistemas sólidos para la rendición de cuentas de los responsables políticos, gerentes, proveedores y usuarios.
        .col-10.col-md-8.mb-4
          .card-media.bg-brand-color-light
            .card-media__body                 
              figure.card__figure
                img(src="assets/images/pages/tema_1/icon_03.svg").img-fluid
              p #[strong Reorientar el modelo de atención]
              p Hace mención al aseguramiento frente a la compra y prestación de servicios de atención en salud eficientes y efectivos, a través de modelos de cuidado que prioricen la atención primaria, comunitaria y la coproducción de la salud. Esto abarca el cambio de atención hospitalaria a ambulatoria.  
        .col-10.col-md-8.mb-4
          .card-media.bg-brand-color-light
            .card-media__body                 
              figure.card__figure
                img(src="assets/images/pages/tema_1/icon_04.svg").img-fluid
              p #[strong Coordinación de servicios]
              p Hace referencia a coordinar la atención en torno a las necesidades y preferencias de las personas en todos los niveles de atención, así como promover actividades para integrar a diferentes proveedores de atención y crear redes efectivas entre la salud y otros sectores. La coordinación se centra en mejorar la prestación de atención a través de la alineación y la armonización de los procesos de los diferentes servicios. 
        .col-10.col-md-8.mb-4
          .card-media.bg-brand-color-light
            .card-media__body                 
              figure.card__figure
                img(src="assets/images/pages/tema_1/icon_05.svg").img-fluid
              p #[strong Crear un entorno propicio]
              p Para que las cuatro estrategias anteriores se conviertan en una realidad operativa, es necesario crear un entorno propicio que reúna a las diferentes partes interesadas para emprender un cambio transformador. Esta es una tarea compleja que involucra un conjunto diverso de procesos para lograr los cambios necesarios en los marcos legislativos, los acuerdos e incentivos financieros y la reorientación de la fuerza laboral y la formulación de políticas públicas. 

      .row
        .col
          p Fuente: The interdependency of the five strategic directions to support people-centred and integrated health services. WHO global strategy on people-centred and integrated health services. WHO, 2015 (WHO, 2015. Global Strategy on People Centered and Integrated Health Services. Interim report) Pág. 20. 
      
      .hr-divider.my-5

      .row
        .col-12
          .header-ecored.mt-3#tema1_2_2
            h2 1.2.2 Perspectiva OES

      .row.justify-content-center.align-items-center.my-5 
        .col-12.col-lg-10.d-flex.justify-content-center
          img(src="assets/images/pages/tema_1/img_03.svg", alt="").img-fluid

      .row.my-4 
        .col-12
          p Según la Organización para la Excelencia en Salud (OES) refiere que, para garantizar la mejor atención al paciente se debe contar:
      .row
        .col-12.mb-3
          .list
            .list__item
              .list__item__icon
                img(src="assets/images/icons/icon_duoble_chevron.svg", alt="")
            .list__txt
              p.mb-0 Necesariamente debe centrar la atención en el paciente y su familia, como elemento fundamental y conceptual del Sistema Obligatorio de la Garantía de la Calidad.
      .row
        .col-12.mb-3
          .list
            .list__item
              .list__item__icon
                img(src="assets/images/icons/icon_duoble_chevron.svg", alt="")
            .list__txt
              p.mb-0 Es imperativo involucrar en todo el proceso al paciente como a su familia, en cuanto a la toma de decisiones frente al cuidado y manejo de la enfermedad.

      .hr-divider.my-5

      .row
        .col-12
          .header-ecored.mt-3#tema1_2_3
            h2 1.2.3 Modelo Organización Planetree 

      .row 
        .col-12
          p Según la Organización Planetree International, plantea que la atención centrada en la persona es más que hospitalidad, ambiente saludable y confort, el cual crea impresiones positivas y experiencias satisfactorias en favor de la calidad de vida.
          p El modelo contribuye a la implementación sistemática de la humanización con la atención centrada en la persona y sus familias, el cual se aborda de la siguiente manera:

      .row.justify-content-center.align-items-center.my-5 
        .col-10.col-md-8.mb-4
          .card-media.bg-brand-color-light
            .card-media__body                 
              figure.card__figure
                img(src="assets/images/pages/tema_1/icon_01.svg").img-fluid
              p #[strong Orientación de liderazgo]
              p Líderes que impulsen y hagan conexión con el personal para orientar la apropiación, ser parte del abordaje estratégico de las organizaciones.
        .col-10.col-md-8.mb-4
          .card-media.bg-brand-color-light
            .card-media__body                 
              figure.card__figure
                img(src="assets/images/pages/tema_1/icon_02.svg").img-fluid
              p #[strong Planetree para el personal]
              p Preocupación por los seres humanos que contribuyen a la labor del bienestar y salud, reconoce los logros y las mejores prácticas y el impacto en mejorar la atención centrada en la persona.
        .col-10.col-md-8.mb-4
          .card-media.bg-brand-color-light
            .card-media__body                 
              figure.card__figure
                img(src="assets/images/pages/tema_1/icon_03.svg").img-fluid
              p #[strong Evaluación cultural]
              p A través de una encuesta de cultura organizacional, en el que se identifique cuáles son las creencias, prácticas, acciones que generan buen impacto, entre otras, que contribuyan a generar planes de mejora incluyente y colectivo, con la participación del personal de salud administrativo y asistencial, las personas y sus familias, que favorezca las oportunidades de mejora.
        .col-10.col-md-8.mb-4
          .card-media.bg-brand-color-light
            .card-media__body                 
              figure.card__figure
                img(src="assets/images/pages/tema_1/icon_04.svg").img-fluid
              p #[strong Desarrollo de programas]
              p Programas prioritarios y de preferencia que, a las personas les guste observar.
        .col-10.col-md-8.mb-4
          .card-media.bg-brand-color-light
            .card-media__body                 
              figure.card__figure
                img(src="assets/images/pages/tema_1/icon_05.svg").img-fluid
              p #[strong Implementación de prácticas adecuadas para pacientes]
              p Se refiere al plan, dirección y procesos para implementar y/o mejorar los programas centrados en el cuidado.
        .col-10.col-md-8.mb-4
          .card-media.bg-brand-color-light
            .card-media__body                 
              figure.card__figure
                img(src="assets/images/pages/tema_1/icon_06.svg").img-fluid
              p #[strong Entrenamiento gerencial]
              p Se refiere a identificar el tipo de coaching que requiere los gerentes o directores, nuevos métodos de motivar, involucrar y capacitación al personal, además de establecer roles en una nueva construcción operativa.
        .col-10.col-md-8.mb-4
          .card-media.bg-brand-color-light
            .card-media__body                 
              figure.card__figure
                img(src="assets/images/pages/tema_1/icon_07.svg").img-fluid
              p #[strong Habilidades y estructuras]
              p Se refiere a la identificación habilidades y estructuras que se necesitan, la gobernanza y la toma de decisiones compartidas, entrenamiento de interacciones empáticas, desarrollo de equipos de salud, desarrollo y expansión de contenidos de educación e investigación. 

      .row.my-5
        .col-12
          p Con lo anterior, la atención centrada en la persona, crea ambientes saludables en el trabajo, mejora los resultados de salud y compromete a las comunidades en torno a la salud y el bienestar, así mismo, tiene efecto en el desempeño directo de las organizaciones de salud y mejora la experiencia de la persona, es decir cada integrante se siente valorado y con ello la institución se consolida. 

      .row.mt-4.mb-3
        .col-12
          h3 Contribuciones del modelo  

      .row
        .col-12.mb-3
          .list
            .list__item
              .list__item__bulletNumber
                span 1
            .list__txt
              p.mb-0 Mejorar su estado de salud de forma más rápida.
        .col-12.mb-3
          .list
            .list__item
              .list__item__bulletNumber
                span 2
            .list__txt
              p.mb-0 Aumenta el nivel de excelencia de la calidad de la atención.
        .col-12.mb-3
          .list
            .list__item
              .list__item__bulletNumber
                span 3
            .list__txt
              p.mb-0 Incrementa la fidelidad en la organización por parte de la persona, familia y comunidad.
        .col-12.mb-3
          .list
            .list__item
              .list__item__bulletNumber
                span 4
            .list__txt
              p.mb-0 Aumenta el clima organizacional, fortaleciendo la satisfacción, liderazgo y compromiso del personal de salud, así mismo, en la satisfacción del sujeto de cuidado, su red de apoyo y comunidad.
        .col-12.mb-3
          .list
            .list__item
              .list__item__bulletNumber
                span 5
            .list__txt
              p.mb-0 La eficacia en el uso de los recursos que dispone las organizaciones de salud, mejora el flujo de ingresos y su funcionamiento.
        .col-12.mb-3
          .list
            .list__item
              .list__item__bulletNumber
                span 6
            .list__txt
              p.mb-0 Impulsa el mejoramiento continuo de la calidad de la atención.
        .col-12.mb-3
          .list
            .list__item
              .list__item__bulletNumber
                span 7
            .list__txt
              p.mb-0 Cercanía y conexión de la comunidad con la organización.
      .row.my-4
        .col-12
          p Fuente:  26o Foro Internacional OES – 1er Encuentro Planetree Atención Centrada en la Persona, 2017. Ponente Susan Frampton, PhD, MS, Presidenta Planetree Internacional. Atención Centrada en la Persona.
      .hr-divider.my-3
      .row
        .col-12
          p.mt-4 Lo invitamos a escuchar la ponencia de la directora de Planetree internacional, quien expone de manera clara su modelo. 
      .row.justify-content-center.align-items-center.my-5 
        .col-12.col-lg-7.mb-4
          .media_link
            a(href="https://www.youtube.com/watch?time_continue=40&v=9DImhwsbHw4&feature=emb_logo", target="_blank")
              .media_link__icon
                img(src="assets/images/icons/icon_www.svg", alt="")
              .media_link__txt
                p #[strong Material de apoyo ponencia directora de Planetree] 

    .jumbotron.bg-white 
      .row
        .col-12
          .header-ecored.mt-3#tema1_3
            h2 1.3 Algunas experiencias en Colombia.

      .row
        .col-12
          p Las habilidades para la vida se encuentran en varios escenarios. El político, organizacional, social, económico, cultural, ético y tecnológico, lo cual en una institución se formaliza a través de unos lineamientos gerenciales, como una política de humanización que fomenta la cultura organizacional. A continuación, se puede destacar experiencias desarrolladas en Colombia, en el que confluyen todas las características mencionadas y generan estrategias acordes a la implementación de sus modelos de atención humanizada, favoreciendo a la persona, resaltando la dignidad humana.

      .row.mt-4.mb-3
        .col-12
          h3 Programa de humanización ESE - La Mesa
      .row
        .col-12
          p Se presenta el programa de humanización en una Empresa Social del Estado (ESE) ubicada en La Mesa (Cundinamarca), que conforma estrategias, esfuerzos, actividades y proyecciones de atención centrada en la persona.

      .row.justify-content-start.align-items-center.my-5 
        .col-12.col-lg-7.mb-4
          .media_link
            a(href="https://youtu.be/dpNebBasxoM", target="_blank")
              .media_link__icon
                img(src="assets/images/icons/icon_www.svg", alt="")
              .media_link__txt
                p #[strong Programa humanización V6] 

      .row.mt-4.mb-3
        .col-12
          h3 Estrategia aplicada ESE- La Mesa
      .row
        .col-12
          p A continuación, se presenta una de las estrategias utilizadas para abordar el programa de humanización en una en una Empresa Social del Estado ubicada en La Mesa (Cundinamarca). El apoyo emocional como eje de abordaje. 

      .row.justify-content-start.align-items-center.my-5 
        .col-12.col-lg-7.mb-4
          .media_link
            a(href="https://youtu.be/-PRXdjjUV-M", target="_blank")
              .media_link__icon
                img(src="assets/images/icons/icon_www.svg", alt="")
              .media_link__txt
                p #[strong Estrategia Apoyo Emocional - Trabajo Social] 

      .row.mt-4.mb-3
        .col-12
          h3 Programa de humanización ESE Sesquilé
      .row
        .col-12
          p A continuación, se presenta una de las estrategias utilizadas para abordar el programa de humanización en tiempos de COVID por una ESE de Sesquilé (Cundinamarca).

      .row.justify-content-start.align-items-center.my-5 
        .col-12.col-lg-7.mb-4
          .media_link
            a(href="https://youtu.be/3PC_LdYwi6A", target="_blank")
              .media_link__icon
                img(src="assets/images/icons/icon_www.svg", alt="")
              .media_link__txt
                p #[strong Humanización Hospital Sesquilé] 
        
        